@import './components/buttons.scss';

/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#adminmenu li.toplevel_page_wowpi_guild_settings div.wp-menu-image.svg {
  background-size: 30px auto;
}

body.toplevel_page_wowpi_guild_settings {
  input:not([type=submit]):not([type=checkbox]), select {
    width: 300px;
  }
}

.synch-results {
  p {
    margin: 0 80px;
  }

  .results {
    vertical-align: top;
    display: inline-block;
  }


  &.loading {
    p {
      margin: 0 0;
    }
    min-height: 50px;
    .lds-ripple {
      vertical-align: top;
      display:inline-block;
      position: relative;
      width: 80px;
      height: 80px;

      div {
        position: absolute;
        border: 2px solid #0b278d;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      }

      div:nth-child(2) {
        animation-delay: -0.5s;
      }
    }
  }
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.wowpi-guild-recruitment-select {
  //background-color: red;
  .class-name {
    text-align: center;
    line-height: 1;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0 2px;
  }
  ul {
    margin-top: 0;
    display: flex;
    li {
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: 30px 30px;
      padding-left: 34px;
      padding-right: 5px;
      flex: 1 0 0;
      text-align: left;
      margin-bottom: 0;
      select {
        line-height: 1;
        min-height:20px;
        font-size: 12px;
      }

    }
  }
}