@import "./../../../node_modules/datatables.net-dt/css/jquery.dataTables.min.css";
#wowpi_guild_roster, #wowpi_guild_roster caption, #wowpi_guild_roster tbody, #wowpi_guild_roster tfoot, #wowpi_guild_roster thead, #wowpi_guild_roster tr, #wowpi_guild_roster th, #wowpi_guild_roster td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#wowpi_guild_roster {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #000000;
  tr {
    border-bottom: 1px solid #ccc;
  }
  tbody tr {
    background-color: #000000;

    &:nth-child(odd) {
      background: #353535;
    }
  }
  th, td {
    text-align: left;
    padding: 4px;
    vertical-align: middle;
    line-height: 1;
  }
  th {
    font-weight: bold;
    color: #f8b700;
  }
  td {
    color: #b1997f;
    .icon {
      position: relative;
      display:block;
      width: 38px;
      height: 38px;
      z-index: 1;
      &::before {
        content: url("../../../assets/icon/border-medium.png");
        position: absolute;
        top: -3px;
        display: block;
        width: 38px;
        height: 38px;
        z-index: 2;
      }
      img {
        margin: 3px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
      &:hover::before {
          content: url("../../../assets/icon/border-medium-hover.png");
      }
    }
  }
}
.dataTables_length, .dataTables_filter {
  display: inline-block;
  width: 50%;
}